*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    box-sizing: border-box;
}

.inner {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
}

.top {
    padding: 17px 0;
    border-bottom: 1px solid #D6D6D6;
    align-items: center;
    background: #fff;
    font-weight: 500;
    position: relative;
    z-index: 10;
}

.top .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 80px;
}

.link {
    text-decoration: none;
    color: #292929;
    padding: 13px 35px;
    border-radius: 5px;
    transition: background-color 200ms linear;
}

.link:hover {
    background-color: #dbdbdb;
}

.link:last-child {
    margin: none;
}

.sign-in {
    cursor: pointer;
    border: none;
    padding: 13px 35px;
    background-color: #fff;
    font-family: 'lato';
    font-size: 20px;
    border-radius: 5px;
    transition: background-color 200ms linear;
    text-decoration: none;
    color: #000;
}

.sign-in:hover {
    background-color: #dbdbdb;
}

.btns {
    width: 360px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.btn {
    text-decoration: none;
    cursor: pointer;
    padding: 13px 50px;
    background-color: #01996D;
    border: none;
    border-radius: 5px;
    font-family: 'lato';
    font-size: 20px;
    color: #fff;
    transition: background-color 200ms linear;
}

.btn:hover {
    background-color: #007050;
}

.image {
    width: 100%;
    display: flex;
    position: absolute;
    z-index: -1;
}

.container {
    position: relative;
    overflow: hidden;
    height: 896px;
    background-image: url(img/BG.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
}

.container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
}

.content {
    position: relative;
    top: 175px;
    text-align: justify;
    z-index: 1;
}

.title {
    color: #01996D;
    padding: 0;
    font-family: Georgia;
    font-size: 65px;
    font-weight: 700;
    margin: 0;
}

.first-text {
    width: 401px;
    height: 123.13px;
    margin: 30px 0 18.02px 0;
    color: #484848;
}


.cont-btn {
    text-decoration: none;
    cursor: pointer;
    padding: 20px 50px;
    background-color: #01996D;
    border: none;
    border-radius: 5px;
    font-family: 'lato';
    font-size: 20px;
    color: #fff;
    transition: background-color 200ms linear;
}

.cont-btn:hover {
    background-color: #007050;
}

.how-it-works {
    margin-top: 166px;
}

.hiw-top {
    display: flex;
    justify-content: space-between;
    height: 180px;
}

.how-it-works h1 {
    font-size: 24px;
    font-weight: 600;
}

.how-it-works .title {
    font-size: 50px;
    font-weight: 700;
}

.hiw-text {
    font-family: 'lato';
    width: 636px;
    font-size: 20px;
}

.hiw-columns {
    display: flex;
    justify-content: space-between;
}

.column {
    width: 33.3333%;
    max-width: 390px;
}

.col-one {
    margin-top: 13px;
}

.col-two {
    margin-top: 205px;
    margin-bottom: 51px;
}

.col-three {
    margin-top: 49px;
}

.column-top {
    display: flex;
    height: 225px;
}

.column-number {
    font-size: 150px;
    font-family: Georgia, serif;
    color: #01996D;
    opacity: 20%;
    align-items: end;
}

.column-title {
    margin: 119px 0 0 -59px;
    font-family: Georgia, serif;
}

.column-text {
    padding-right: 5px;
    margin-bottom: 60px;
}

.col-two .column-text {
    margin-bottom: 37px;
}

.col-three .column-text {
    margin-bottom: 48px;
}

.imgs {
    width: 390px;
    height: 492px;
    margin: 0;
}

.lets-start {
    margin: 0 auto;
    background-color: #245852;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 228px 0 176px 0;
}

.ls-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ls-content.inner {
    max-width: 1506px;
}

.text-part {
    color: #fff;
}

.ls-title {
    font-family: Georgia, serif;
    font-weight: 700;
    font-size: 50px;
    line-height: 78.5px;
    margin: 0;
}

.ls-text {
    font-size: 25px;
    margin-bottom: 65px;
    margin-right: 31px;
}

.video {
    max-width: 100%;
    display: flex;
}

.op-title {
    font-family: 'Lato';
    font-size: 25px;
    font-weight: 600;
    line-height: 39px;
    letter-spacing: 0em;
    text-align: left;
}

.op-content {
    max-width: 100%;
    display: flex;
    margin: 50px auto;
}

.op-content>img {
    max-width: 100%;
    display: flex;
}

.op-text {
    margin-left: 86px;
    margin-top: -20px;
}

.op-text .title {
    font-size: 50px;
    line-height: 78px;
}

.footer {
    margin: 0 auto;
    background-color: #245852;
}

.footer-links {
    padding: 95px 0 144px;
}

.footer-logo,
.footer-link {
    margin-bottom: 60px;
    color: #fff;
    font-family: 'Lato';
    font-size: 25px;
    font-weight: 600;
    display: block;
    text-decoration: none;
    width: fit-content;
}

.footer-logo {
    font-size: 40px;
}

.footer-link:hover {
    color: #a0a0a0;
}

.footer-link:last-child {
    margin: 0;
}

.lines {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 19px;
    right: 0;
    cursor: pointer;
    display: none;
}

.line {
    background-color: #000;
    width: 20px;
    height: 3px;
    position: absolute;
    top: 45%;
}

.line:before {
    content: "";
    display: block;
    background-color: #000000;
    width: 20px;
    height: 3px;
    position: absolute;
    top: -7px;
}

.line:after {
    content: "";
    display: block;
    background-color: #000000;
    width: 20px;
    height: 3px;
    position: absolute;
    top: 7px;
}

.links-mobile {
    padding: 20px;
    position: absolute;
    bottom: -140px;
    left: 0;
    width: 100%;
    background-color: #484848;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white !important;
    z-index: 9;
    display: none;
}

.link-mobile {
    color: white;
}

.rectangle {
    display: flex;
    max-width: 100%;
    padding: 0 10px;
}

@media (max-width: 1090px) {

    .container {
        height: 245px;
    }

    .hiw-text {
        max-width: 100%;
        text-align: justify;
    }

    .content {
        top: auto;
        width: 100%;
    }

    .link {
        display: none;
    }

    .btns {
        position: relative;
    }

    .sign-in,
    .btn {
        font-size: 15px;
        padding: 5px 10px;
        position: absolute;
    }

    .sign-in {
        left: 0;
        bottom: -17px;
    }

    .btn {
        left: 63px;
        bottom: -17px;
    }

    .lines {
        display: block;
    }

    .op-content {
        display: block;
    }

    .title {
        font-size: 30px;
    }

    .first-text {
        max-width: 100%;
        font-size: 15px;
        color: black;
        margin: 0;
    }

    .op-title {
        font-size: 20px;
    }

    .op-text {
        font-size: 15px;
    }

    .how-it-works {
        margin-top: 50px;
    }

    .how-it-works .title {
        font-size: 30px;
    }

    .hiw-top {
        display: block;
    }

    .hiw-columns {
        display: block;
        max-width: 100%;
        margin-top: 150px;
        text-align: center;
    }

    .rectangle {
        margin-bottom: 50px;
    }

    .col-one,
    .col-two,
    .col-three {
        margin: 0;
        max-width: 100%;
    }

    .cont-btn {
        padding: 5px 10px;
        font-size: 15px;
    }

    .column-text {
        max-width: 100%;
    }

    .column {
        width: 100%;
    }

    .lets-start {
        padding: 7px 0 14px 0;
    }

    .ls-content {
        display: block;
        padding: 0 10px;
    }

    .ls-title {
        font-size: 30px;
        line-height: 1.5;
    }

    .ls-text {
        margin: 20px 0;
    }

    .video {
        margin-top: 20px;
    }

    .op-text {
        margin-left: 0;
        margin-top: 0px;
    }

    .op-text .title {
        font-size: 30px;
        line-height: 1.2;
    }

    .op-text p {
        margin-bottom: 15px;
    }

    .footer-links {
        padding: 30px 20px 30px 20px;
    }

    .footer-logo, .footer-link {
        margin-bottom: 40px;
    }
}